# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
gradlew
gradelw.bat

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Other directories
run/
logs/
bin/

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip