# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
gradlew.bat

# VS
.vs
.vscode

# Caches
/src/generated/resources/.cache/
.optimizePngCache

# Run configurations
/runs/

# Token property file, used for publishing
tokens.properties